JavaWebServicesXML/Dictionary/src/main/xsd/dictionary.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dictionary">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="word" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="word">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="english" type="xs:string" />
                <xs:element name="romanian" type="xs:string" />
                <xs:element name="update_date" type="xs:date" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>